body {
    font-family: Arial, sans-serif;
    background-color: #fcfdfd;
}

main {
    height: 100%;
    width: 100%;
}




nav {

    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: #fff;
    float: left;
    font-size: 28px;
    line-height: 60px;
    padding-left: 385px;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu {
    float: left;
    padding-left: 432px;

}

.me {
    height: 716px;
    width: 100%;
    text-align: center;

}

.me h3 {
    padding: 110px 0px;
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color: #263244;
    letter-spacing: -2px;
}

.me img {


    border-radius: 50%;
    width: 100%;


}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2.0s;
}

.menu li a:visited {
    color: white;

}

.menu li a:hover {
    color: #ff9100;

}

.menu li a {
    transition: all 0.1s;
    color: white;
    display: inline-block;
    transform: scale(1);
}

.menu li a:active {
    transform: scale(1.1);
}

.main {
    width: 100%;
    height: 100%;


    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;

}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;

}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.title__container input {
    transition: all 0.2s;
    transform: scale(1);

}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

.me input:hover {
    background: #344051;
    color: white;
}

.me input:active {
    transform: scale(1.1)
}


.title__container input:hover {
    background: #344051;
    color: white;
}

.title__container input:active {
    transform: scale(1.1);
}

.me {
    height: 716px;
    width: 100%;
    text-align: center;

}

.me h3 {
    padding: 110px 0px;
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color: #263244;
    letter-spacing: -2px;
}

.me img {
    padding: 92px 860px 0px 860px;
}

.qqq {
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 25px;
    font-size: 17px;
    font-family: Calibri, sans-serif;

}

.me input {
    height: 32px;
    width: 160px;
    font-size: 16px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: none;
    margin-top: 38px;
    transition: all 0.2s;
    transform: scale(1);


}




.www {
    text-align: center;
    height: 525px;
    width: 100%;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) no-repeat;
}






.www h3 {
    font-size: 33px;
    color: #263244;
    padding-top: 105px;
    letter-spacing: -2px;
    text-transform: uppercase;




}

.eee h5 {
    color: #cf7600;
    font-size: 18px;
    margin-bottom: 20px;


}

.eee {
    padding: 22px;
    font-size: 16px;
    padding-top: 220px;


}

.aaa {
    padding-left: 825px;
    padding-right: 825px;
    font-size: 16px;


}


.case {
    width: 100%;
    height: 1254px;
    background-color: #fcfdfd;


}

.case h3 {
    color: #384354;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-top: 105px;
    text-align: center;


}

.ooo {
    padding-top: 70px;
    font-size: 16.6px;
    text-align: center;
    margin-bottom: 40px;
}

.client {
    font-size: 27px;
    color: #384354;
    padding-left: 388px;
    letter-spacing: -2px;


}

.ggg {
    font-size: 18px;
    color: #3f495a;
    letter-spacing: -1px;
    padding-top: 18px;
}

.website {
    font-size: 26px;
    color: #384354;
    padding-left: 388px;
    padding-top: 18px;
    letter-spacing: -2px;


}

.link {
    font-size: 18px;
    color: #384354;
    padding-top: 21px;
    padding-left: 388px;

}

.case input {
    border: 1px solid #63b5ae;
    border-radius: 5px;
    background-color: #63b5ae;
    width: 202px;
    color: #ffffff;
    font-size: 22px;
    margin-left: 388px;
    margin-top: 25px;
    height: 42px;
    letter-spacing: -2px;
    transition: all 0.2s;
    transform: scale(1);


}

.case input:active {
    transform: scale(1.1);
}

.case input:hover {
    background-color: #448b85;
}




.bnb {
    float: left;
}

.lll {
    padding-left: 676px;
}

.lll h5 {
    font-size: 25px;
    letter-spacing: -2px;


}

.lll p {
    margin-top: 15px;
    font-size: 20px;


}

.calculate h3 {
    font-size: 45px;
    color: #1c2534;
    margin-top: 206px;
    margin-left: 807px;

}



.opt {
    margin-left: 500px;
    margin-top: 55px;


}



.opt h4 {
    font-size: 29px;


}

.opt select {
    width: 900px;
    background-color: #eeeeee;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 50px;



}


.sroki {
    margin-top: 120px;
    font-size: 20px;
    color: #1c2534;
    margin-left: 500px;


}

.sroki h6 {
    margin-bottom: 25px;

}

.stats {


    background: url(../img/%D1%84%D0%BE%D0%BD.png);
    margin-top: 150px;
    height: 498px;





}



.stats2 h3 {

    font-size: 33px;
    color: #323d4f;
    letter-spacing: -2px;
    padding-top: 35px;
    font-weight: bold;



}

.stats2 p {
    font-size: 25px;
    padding-top: 30px;
    letter-spacing: -2px;
}


.block1 {
    width: auto;
    float: left;
    padding-left: 335px;
    font-size: 18px;



}

.block2 {
    width: auto;
    float: left;
    padding-left: 150px;
    font-size: 18px;

}

.block3 {
    width: auto;
    float: left;
    padding-left: 150px;
    font-size: 18px;
}

.block4 {
    width: auto;
    float: left;
    padding-left: 150px;
    font-size: 18px;

}


.stats2 div{
    text-align: center;
}





main {
    width: 100%;
    height: 100%;
}

.stats2 img {
    margin-top: 92px;


}

.pxp {
    padding-top: 100px;
    font-size: 33px;
    color: #323d4f;
    letter-spacing: -2px;
    padding-left: 807px;

}

.pxp img {
    padding-left: 115px;
    padding-top: 30px;
}

.reviews {
    padding-top: 115px;

}

.reviews h3 {
    font-size: 33px;
    padding-left: 900px;
    color: #233042;
    letter-spacing: -2px;

}

.reviews img {
    padding-left: 910px;
    padding-top: 102px;


}

.iki {
    padding-top: 42px;
    font-size: 16px;
    color: #243042;
    text-align: center;



}

.reviews p {
    padding-top: 40px;
    text-align: center;

}

.contact {
    margin-top: 150px;
    background: url(../img/contact%20%D1%84%D0%BE%D0%BD.jpg);
    height: 810px;
    color: #ffffff;


}

.contact h3 {
    text-align: center;
    font-size: 33px;
    padding-top: 115px;
    text-transform: uppercase;
    letter-spacing: -2px;



}


    
    


.cont img{
    margin-top: -15px;
    padding-bottom: 15px;
}


.cont div{
    float: left;
    
    
}

.q{
    padding-left: 650px;
}

.w{
    padding-left: 100px;
}

.e{
    padding-left: 110px;
}
.xsx {

    padding-top: 75px;
    font-size: 16px;
    text-align: center;
}


.adres {
    text-align: center;
    padding-top: 80px;

}



.sms {
    text-align: center;
    padding-top: 60px;


}

.sms h4 {
    font-size: 33px;
    letter-spacing: -2px;
    padding-top: 30px;


}

.qwq {
    padding-top: 45px;
    float: left;
    padding-left: 595px;


}

.wqw {
    padding-top: 45px;
    padding-right: 562px;

}

.qwq textarea {
    width: 350px;
    color: #d2d6dc;
    height: 35px;
    line-height: 35px;
    resize: none;
    padding-left: 15px;

}

.wqw textarea {

    width: 350px;
    color: #d2d6dc;
    line-height: 35px;
    height: 35px;
    resize: none;
    padding-left: 15px;

}

.jij {
    padding-top: 15px;
    padding-left: 10px
}

.jij textarea {
    width: 722px;
    height: 95px;
    resize: none;


}

.sms input {
    margin-top: 30px;
    height: 45px;
    width: 120px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    transition: all 0.2s;
    transform: scale(1);



}

.sms input:active {
    transform: scale(1.1);
}

.sms input:hover {
    background-color: #000000;
}


