body {
    padding: 50px;
}



.box span {
    text-align: center;
    display: block;
    margin-top: 90px;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
    animation-name: move;
    animation-duration: 2s;




}

.box:active {}

@keyframes move {
    from {
        background: black;
    }

    to {
        background: red;
    }

}
